.container{
    border: 2px solid #E38252;
    width: 1200px;
}
.nav{
    background-color: #E38252;
    padding: 1.5rem;
}
.nav-item{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 100px;
}
header img{
    border: 1px solid #E38252;
}
main{
    background-color: white;
}
main h2{
    color: #E38252;
}
main p{
    text-align: center;
}
main a{
    text-decoration: none;
    color: #E38252;
}
main img{
    text-align: center;
}
footer p{
    text-align: center;
    margin-top: 50px;
}
